
body{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-image: url('https://i.etsystatic.com/6528272/r/il/dae24b/1610509360/il_570xN.1610509360_1kf2.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    
}

#signup_form{
    width:700px;
    height:430px;
    position:relative;
    top:50px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight:bold;
    font-size:1.8vw;
}