
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-image: url('https://wallpapercave.com/wp/fLmAxoy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Sniglet', cursive;
}



#login_form{
    width:500px;
    height:350px;
    top:50px;
    margin: auto;
    padding: auto;
    margin-top: 280px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size:1.7vw;
    font-weight:bold;
}
